<div class="bottom">
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <a [routerLink]="['']" class="nav-link" >Acceuil</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/page2']" class="nav-link active" aria-current="page">profil</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Praise the sun!</a>
      </li>
      
    </ul>
</div>
