<div class="horizontal">
    
    <div class="vertical">
        <div class="card" >
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0204/XwTgnF8iYJvCoRUJC7irHVeN.png?w=440" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Kindle the flames...</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
            </div>
        </div>
        <div class="card" >
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0204/XwTgnF8iYJvCoRUJC7irHVeN.png?w=440" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Sorrow and despair await</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="card">
        <img src="https://m.media-amazon.com/images/I/51RB9dl1HXL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Ahes to ahes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtc6Lja7YPR-sV6CqBHeZq1BB_g1EjMtyd7A&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">gaze into the abyss</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>
</div>

<div class="horizontal">

    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtc6Lja7YPR-sV6CqBHeZq1BB_g1EjMtyd7A&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Prepare to die</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="card" >
        <img src="https://m.media-amazon.com/images/I/51RB9dl1HXL.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Lords of cinders</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="vertical">
        <div class="card" >
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0204/XwTgnF8iYJvCoRUJC7irHVeN.png?w=440" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">The ashen one</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
            </div>
        </div>
        <div class="card" >
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202011/0204/XwTgnF8iYJvCoRUJC7irHVeN.png?w=440" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">The chosen undead</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn">Go somewhere</a>
            </div>
        </div>
    </div>

    

    
</div>
