
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
        
		
		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
            <button [routerLink]="['/profil']" aria-current="page" type="button" id="login-button ">profil</button><br><br>
			<button [routerLink]="['']" aria-current="page" type="submit" id="login-button ">Home</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>